body
{
    background-color: burlywood;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.board
{
    background-color: black;
    height: 84vh;
    width: 80vw;
    padding: 1px;
    padding-bottom: 7px;
    box-sizing: border-box;
    padding: 20px;
    padding-bottom: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.heading
{
    font-size: 22px;
    font-weight: bolder;
    color: purple;
    font-style: italic;
    text-shadow: 2px 2px blue;
    margin-bottom: 10px;

}
.content
{
    display: flex;
    height: 75vh;
    width: 75vw;
    padding: 1px;
    padding-bottom: 7px;
    box-sizing: border-box;
    padding: 10px;
    justify-content: center;
    border-radius: 10px;
}
.settings
{
    width: 20vw;
    height: 100%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;

}
.sketch
{
    height: 100%;
    width: 70%;
    margin-left: 4%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.one{
    background-color: green;
}
.one:hover
{
    background-color: red;
}
.clear
{
    background-color: white;
    border: 2px solid blue;
    border-radius: 10px;
    padding: 8px;
}
