body
{
    background-color: burlywood;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.board
{
    background-color: white;
    height: 70vh;
    width: 70vw;
    display: flex;
    padding: 1px;
    padding-bottom: 7px;
}
.settings
{
    width: 30%;
    height: 100%;
    background-color: red;
    border-style: solid;
    border-color: black;
}